
# Untrack the following folders
.credentials/
multi_zone_vpc_aws/.terraform/*
lab_2_vm_provisioning_alb/.terraform/*
lab_3_swarm_cluster/.terraform/*
lab_4_static_site_aws/.terraform/*
lab_4_static_site_aws/static-site/.terraform/*
lab_7_cloudfront/.terraform/*
lab_8_IAM/.terraform
lab_9_s3/.terraform
lab_10_s3_lifecycle/.terraform
