
# Untrack the following folders
.credentials/
multi_zone_vpc_aws/.terraform/*
lab_2_vm_provisioning_alb/.terraform/*
lab_3_swarm_cluster/.terraform/*
lab_4_static_site_aws/.terraform/*
lab_4_static_site_aws/static-site/.terraform/*
lab_7_cloudfront/.terraform/*
lab_8_IAM/.terraform
lab_9_s3/.terraform
lab_10_s3_lifecycle/modules/services/s3/stage/services/s3/.terraform
lab_11_static_site_self/stage/.terraform
lab_12_IAM_users/terraform.tfstate*
lab_12_IAM_users/.terraform
lab_13_webserver_ec2/stage/.terraform
lab_13_webserver_ec2/stage/terraform.tfstate*
lab_14_ebs_migration/stage/.terraform
lab_14_ebs_migration/stage/terraform.tfstate*
